.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    height: 200px;
    width: 400px;
    padding: 30px;
    margin: 50px;
    color: #0032d3;
    font-weight: 500;
    border: solid;
    border-width: 5px;
    background-color: grey;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    height: 200px;
    width: 400px;
    font-size: larger;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}